nav{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    word-spacing: 10px;
}

h1 {
    color: black;
    text-align: center;
  }

.row1{
    margin-top: 5%;
    margin-left: 20%;
}
.row2{
    margin-left: 20%;
}

h3{
    text-align: center;
}